#-- 官方: https://git-scm.com/docs/gitignore .
#-- 所有的规则都是相对于项目根目录,比如jdklog/ .
#-- 所有的规则都是按照先后顺序匹配的,前面的规则优先匹配.
#-- 以斜杠/开头表示目录.
#-- 以星号*通配多个字符.
#-- 以问号?通配单个字符.
#-- 以方括号[]包含单个字符的匹配列表.
#-- 以叹号!表示不忽略(跟踪)匹配到的文件或目录.
#-- 例子:
#-- *
#-- !.gitignore
#-- !/example1
#-- !/example2/example2.txt
#-- 说明:
#-- 1.忽略全部内容.
#-- 2.但是不忽略 .gitignore文件 和/example1 和/example2/example2.txt

#--以下通用配置每一步都是必须的,缺一不可.根据自己的项目结构,步骤1,2是固定的.适当的调整含3之后的步骤.
#1.忽略根目录所有文件.
*
#2.保留根目录所有文件.
!*/
#3.保留代码样式检查文件目录.
!materials/**
#5.保留根目录下的所有pom.xml
!*.html
!*.css
#6.只保留根目录下的.gitignore.前面加一个/,表示只保留根目录下的.gitignore文件.
#7.因为.idea文件夹中也包含.gitignore文件,如果想要保留所有,需要配置!/**/.gitignore.
!/.gitignore
#8.保留根目录下的README和LICENSE
!README.md
!LICENSE.txt
#9.文件换行符使用LF.
!.gitattributes
#10.除此之外的所有文件和文件夹全部忽略.
